{% load color static %}
<li class="card bg-secondary border-{{ review.score | color }} mb-2">
    <div class="card-header pt-2 pr-4 pb-0 pl-0">
        <div class="mb-0 row pr-2 align-items-center justify-content-end">
            <h2><span class="badge badge-{{ review.score | color }} mr-2">
                {% if review.score >= 0 %}
                    {{ review.score }}
                {% else %}
                    TBA
                {% endif %}
            </span></h2>
            {% if reversed %}
                <a href="{% url 'game' review.game.id %}" class="text-dark flex-fill">
                    <h4 class="flex-fill">{{ review.game.display_name }}</h4></a>
            {% else %}
                {% if is_newspaper %}
                    <a href="{% url 'newspaper' review.newspaper.id %}" class="text-dark flex-fill">
                        <h4>{{ review.newspaper.display_name }}</h4></a>
                {% else %}
                    <a href="{% url 'user' review.user.id %}" class="text-dark flex-fill">
                        <h4>{{ review.user.display_name }}</h4></a>
                {% endif %}
            {% endif %}
            {{ review.date }}
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{ review.comment }}</p>
        {% if is_newspaper %}
            <a href="{{ review.article_link }}" class="card-link text-white float-right">Read entire review
                <img src="{% static 'img/link-external.svg' %}" alt="Entire review's link"></a>
        {% endif %}
    </div>
</li>
