<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>DataGame</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
{% block style %}
{% endblock %}
<body class="bg-dark">
    <nav class="navbar navbar-expand navbar-dark bg-secondary">
        <h1 class="mr-3"><a id="logo" href="{% url 'home' %}" class="text-success">DataGame</a></h1>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link btn btn-success" href="{% url 'update' %}">Update games</a>
                </li>
            </ul>
        </div>
        {% block nav %}
        {% endblock %}
    </nav>
<main class="container my-5">
    {% block main %}
    {% endblock %}
</main>
{% block script %}
{% endblock %}
</body>
</html>