{% extends "base.html" %}
{% load color static %}
{% block main %}
    <div class="card bg-secondary mb-4">
        <div class="card-header row">
            <img src="{{ game.cover_image_url }}" alt="{{ game.display_name }} cover image" class="rounded ml-1 mr-2">
            <div class="flex-fill">
                <h2 class="card-title font-weight-bold">{{ game.display_name }}</h2>
                <div class="d-flex justify-content-between px-4">
                    <h3>{{ game.release_date }}</h3>
                    <h3><span class="badge badge-{{ game.critics_score | color }}">
                                {% if game.critics_score >= 0 %}
                                    {{ game.critics_score }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </span>
                        <span class="badge badge-pill badge-{{ game.users_score | color }}">
                                {% if game.users_score >= 0 %}
                                    {{ game.users_score }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </span>
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if game.summary %}
                <p class="card-text">{{ game.summary }}</p>
            {% else %}
                <p class="card-text font-weight-bold">No summary.</p>
            {% endif %}
        </div>
    </div>

    <div class="btn-group mb-4" role="group" aria-label="Order reviews">
        {% if order == '-score' %}
            <a class="btn btn-secondary" href="{% url 'game' game.id %}?order=score" role="button">Score
                <img src="{% static 'img/chevron-down.svg' %}" alt="Ordered by score"></a>
        {% elif order == 'score' %}
            <a class="btn btn-secondary" href="{% url 'game' game.id %}?order=-score" role="button">Score
                <img src="{% static 'img/chevron-up.svg' %}" alt="Ordered by score"></a>
        {% else %}
            <a class="btn btn-secondary" href="{% url 'game' game.id %}?order=-score" role="button">Score</a>
        {% endif %}

        {% if order == '-date' %}
            <a class="btn btn-secondary" href="{% url 'game' game.id %}?order=date" role="button">Date
                <img src="{% static 'img/chevron-down.svg' %}" alt="Ordered by date"></a>
        {% elif order == 'date' %}
            <a class="btn btn-secondary" href="{% url 'game' game.id %}?order=-date" role="button">Date
                <img src="{% static 'img/chevron-up.svg' %}" alt="Ordered by date"></a>
        {% else %}
            <a class="btn btn-secondary" href="{% url 'game' game.id %}?order=-date" role="button">Date</a>
        {% endif %}
    </div>

    <div class="d-md-flex justify-content-between">
        <ul class="list-group col mr-4 pr-0">
            <h2 class="text-white text-center">Critic reviews</h2>
            {% if critic_reviews %}
                {% for review in critic_reviews %}
                    {% include 'items/review.html' with review=review is_newspaper=True %}
                {% endfor %}
            {% else %}
                <h2 class="text-center">No reviews</h2>
            {% endif %}
        </ul>
        <ul class="list-group col ml-4 pr-0">
            <h2 class="text-white text-center">User reviews</h2>
            {% if user_reviews %}
                {% for review in user_reviews %}
                    {% include 'items/review.html' with review=review is_newspaper=False %}
                {% endfor %}
            {% else %}
                <h2 class="text-center">No reviews</h2>
            {% endif %}
        </ul>
    </div>
{% endblock %}