{% extends "base.html" %}
{% load color %}
{% block nav %}
    <input id="search" type="text" placeholder="Search game..." oninput="filterGames()">
{% endblock %}
{% block style %}
    <style>
        .card {
            background-position: center;
            background-size: cover;
            background-blend-mode: multiply;
        }

        .fade-out {
            animation: fadeOut ease 0.75s;
        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    </style>
{% endblock %}
{% block main %}
    <h3 id="updated" class="mb-5 text-white" {% if not updated %}hidden{% endif %}>New games retrieved !</h3>
    <div id="shown" class="row">
        {% for game in games %}
            <div class="game col-xl-3 col-lg-4 col-md-6 col-12 mb-4" id="{{ game.id }}">
                <a href="{% url 'game' game.id %}" class="card bg-secondary"
                   style="background-image: linear-gradient(rgb(125, 125, 125), rgb(125, 125, 125)), url('{{ game.cover_image_url }}');">
                    <div class="card-header">
                        <h4 class="card-title text-success font-weight-bold">{{ game.display_name }}</h4>
                        <div class="card-subtitle mb-2 pt-2 text-white-50 d-flex justify-content-between">
                            <h5>{{ game.release_date }}</h5>
                            <h5><span class="badge badge-{{ game.critics_score | color }}">
                                {% if game.critics_score >= 0 %}
                                    {{ game.critics_score }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </span>
                                <span class="badge badge-pill badge-{{ game.users_score | color }}">
                                {% if game.users_score >= 0 %}
                                    {{ game.users_score }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </span>
                            </h5>
                        </div>
                    </div>
                    <div class="card-body text-white">
                        {% if game.summary %}
                            <p class="card-text">{{ game.summary|truncatewords:32 }}</p>
                        {% else %}
                            No summary.
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div id="hidden" hidden>
        <h1 id="no-results" class="font-weight-bold">No results.</h1>
    </div>
{% endblock %}
{% block script %}
    <script>
        function filterGames() {
            const shown = document.getElementById('shown');
            const hidden = document.getElementById('hidden');
            let gamesToMove = [];

            for (const game of shown.children) {
                if (game.id !== 'no-results' && !game.id.includes(document.getElementById('search').value)) {
                    gamesToMove.push(game);
                }
            }
            gamesToMove.forEach(game => {
                hidden.appendChild(game);
            })

            gamesToMove = [];
            for (const game of hidden.children) {
                if (game.id !== 'no-results' && game.id.includes(document.getElementById('search').value)) {
                    gamesToMove.push(game);
                }
            }
            gamesToMove.forEach(game => {
                shown.appendChild(game);
            })

            const noResults = document.getElementById('no-results')
            if (shown.childElementCount === 0)
                shown.appendChild(noResults);
            else
                hidden.appendChild(noResults);
        }

        setTimeout(function () {
            const updated = document.getElementById('updated');
            updated.classList.add('fade-out');
            setTimeout(function () {
                updated.remove();
            }, 750);
        }, 3000);
    </script>
{% endblock %}