{% extends "base.html" %}
{% block main %}
    <h1 class="mb-5">{{ newspaper_user.display_name }}'s reviews</h1>

    <ul class="list-group col mr-4 pr-0">
        {% for review in reviews %}
            {% include 'items/review.html' with review=review is_newspaper=is_newspaper reversed=True%}
        {% endfor %}
    </ul>
{% endblock %}